.BoxMovie{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.BoxMovieImg{
    width: 70%;
    margin: 20px;
}
.BoxMovieImg img{width: 100%;}
@media (min-width:500px){
    .BoxMovie{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 86vh;
        max-width: 1000px;
        margin: 0 auto;
    }
    .BoxMovieImg{
        min-width: 200px;
    }
}